<div class="main-container">
    <div class="cognizant-container">
        <!-- First row -->
        <div class="firstRow">
            <div class="title">
                <span>Frontend Developer</span>
               </div>
               <div class="subTitle">
                &#64; Cognizant, Bucharest Romania
               </div>
        </div>
        <div class="experience-description secondRow">
            <span>
                <br>I was the main developer for an Angular 11 point-of-sale application, using Angular Material, Typescript, and SCSS.
                <br>My primary responsibilities included adding new features, maintaining existing ones, creating user interfaces following best practices, 
                and developing unit tests to ensure comprehensive application coverage.
                <br>I collaborated closely with backend developers to integrate APIs seamlessly, ensuring a smooth and efficient user experience. 
                <br>Additionally, my focus was on code reviews, providing constructive feedback to maintain high-quality code standards across the team.
                <br>Beyond this project, I was highly active in the web community, speaking at conferences, conducting interviews, and mentoring colleagues. 
                The mentoring process involved creating career paths and helping individuals achieve their objectives.
                <br>At Cognizant, for the first time as a team lead, I managed a team of two frontend developers, facilitating daily stand-ups, sprint planning, 
                and retrospectives.
                <br>My leadership abilities were refined in this role, and I gained a deeper comprehension of successful team dynamics.
            </span>
        </div>
        <div class="technologies">
            <img class="technology-image" src="../../../assets/images/html5.png">
            <img class="technology-image" src="../../../assets/images/angular.png">
            <img class="technology-image" src="../../../assets/images/material.png">
            <img class="technology-image" src="../../../assets/images/css.png">
            <img class="technology-image" src="../../../assets/images/cli.png">
            <img class="technology-image" src="../../../assets/images/mercurial.svg">
        </div>
        </div>
</div>