<div class="main-container">
    <div class="americanGreetings-container">
        <!-- First row -->
        <div class="firstRow">
            <div class="title">
                <span>Frontend Developer</span>
               </div>
               <div class="subTitle">
                &#64; American Greetings, Bucharest Romania
               </div>
        </div>
        <div class="experience-description secondRow">
            <span>
                In my position as a developer, I directed the front-end team for three projects and as a project manager, I also managed the planning, organization, and
                implementation of an inventory management application.
                <br> In addition to handling all Agile documentation and meetings, I created technical specifications.
                <br>As a senior front-end developer, I supported team members in their growth, contributed to new project initiatives, made
                architectural choices, created documentation, and set standards for code reviews and workflow improvements.
                <br>With a focus on mentorship, I provided individualized guidance, helping team members navigate complex challenges and refine their skills. This approach not only
                enhanced our projects but also cultivated a strong, supportive team culture where everyone could thrive.
            </span>
        </div>
        <div class="technologies">
            <img class="technology-image" src="../../../assets/images/html5.png">
            <img class="technology-image" src="../../../assets/images/css.png">
            <img class="technology-image" src="../../../assets/images/bootstrap.png">
            <img class="technology-image" src="../../../assets/images/atom.png">
            <img class="technology-image" src="../../../assets/images/sublime.png">
            <img class="technology-image" src="../../../assets/images/jquery.webp">
        </div>
        </div>
</div>


