<div class="main-container">
  <div class="oneandone-container">
      <!-- First row -->
      <div class="firstRow">
          <div class="title">
              <span>ETL Developer</span>
             </div>
             <div class="subTitle">
              &#64; 1&1 Internet, Bucharest Romania
             </div>
      </div>
        <!-- Second Row -->
        <div class="experience-description">
          <span>
            <br>As an ETL Developer at 1&1 Internet Development, I spearheaded the migration efforts for a project originally developed in Oracle SQL Developer,
            transitioning it to Microsoft SQL Server. 
            <br>This pivotal project marked my first professional experience within a corporate environment, where I quickly adapted to the demands of deadlines,
            responsibilities, and collaborative workflows.
            <br>In this role, I directed the migration process from Oracle SQL Developer to Microsoft SQL Server, ensuring a seamless transition and minimal disruption 
            to ongoing operations. 
            <br>Additionally, I created detailed SQL reports based on data warehouse information to support Business Analysts, enabling more informed decision-making and strategic planning.
            <br>My responsibilities also included designing and implementing ETL flows, jobs, and objects, optimizing data extraction, transformation, and loading processes to improve overall data management and integrity.
            <br>During this formative period, I honed my technical skills and gained valuable experience in managing deadlines, taking on responsibilities, and navigating the complexities of a dynamic work environment.
            <br>This role laid the foundation for my career in data management and software development, providing me with essential skills and insights that I continue to build upon.
          </span>
         </div>
         <div class="technologies">
          <img class="technology-image" src="../../../assets/images/sql.png">
          <img class="technology-image" src="../../../assets/images/microsoft.png">
          <img class="technology-image" src="../../../assets/images/jira.webp">
          <img class="technology-image" src="../../../assets/images/atom.png">
      </div>
    </div>
</div>


