<div class="home-main-content">
  <nav>
    <a routerLink="/about-me" fragment="about-me">About Me</a>
    <a routerLink="/recommendations" fragment="recommendations">Recommendations</a>
    <a routerLink="/oneandone-internet" fragment="oneandone-internet">Oneandone Internet</a>
    <a routerLink="/american-greetings" fragment="american-greetings">American Greetings</a>
    <a routerLink="/cognizant" fragment="cognizant">Cognizant</a>
    <a routerLink="/snapon" fragment="snapon">Snap-on</a>
  </nav>
    <div class="background">
      <div class="resume-section about-me" id="about-me">
        <app-about-me></app-about-me>
      </div>
      <div class="resume-section recommendations" id="recommendations">
        <app-recommendations></app-recommendations>
      </div>
      <div class="resume-section snapon" id="snapon">
        <app-snapon></app-snapon>
      </div>
      <div class="resume-section cognizant" id="cognizant">
        <app-cognizant></app-cognizant>
      </div>
      <div class="resume-section american-greetings" id="american-greetings">
        <app-american-greetings></app-american-greetings>
      </div>
      <div class="resume-section oneandone-internet" id="oneandone-internet">
        <app-oneandone-internet></app-oneandone-internet>
      </div>
      
    </div>
  </div>
  